@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-image">
    <div class="hero-text">
        <h1>UCN Badminton</h1>
        <p>Spil med dine venner</p>
        <button onclick="href=">Book nu</button>
    </div>
</div>


