@{
    ViewData["Title"] = "Home Page";
}
<h2 style="color:red">@TempData["IsAlreadyBooked"]</h2>
<div class="hero-image">
    <div class="hero-text">
        <h1>UCN Badminton</h1>
        <p>Spil med dine venner</p>
        <a class="btn-close-white" asp-area="" asp-controller="Reservation" asp-action="SelectDate">Book nu</a>
    </div>
</div>


