@model List<object[]>

@{
    ViewData["Title"] = "Vælg tidspunkt";
}

<h1>Vælg tidspunkt</h1>

<h4>Booking</h4>

Ledige tider på denne dato:
<h3>
    <form asp-action="">
        <select name="selectedTime">
            @foreach (var availableTime in Model)
            {
                <option value="@availableTime">Bane @availableTime[0].ToString(), Klokken @availableTime[1]</option>
            }
        </select>

        <button type="submit">Vælg udstyr</button>
    </form>
</h3>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}