@model List<object[]>

@{
    ViewData["Title"] = "Vælg tidspunkt";
}

<h1>Vælg tidspunkt</h1>

<h4>Booking</h4>

Ledige tider på valgte dato:

<form asp-action="SelectEquipment" method="post">
    <select name="selectedTime">
        @foreach (var availableTime in Model)
        {
            <option value="@availableTime">Bane @availableTime[0].ToString(), Klokken @availableTime[1]</option>
        }
    </select>

    <div class="form-group">
        <input type="button" value="Gå tilbage" onclick="history.back(-1); return false;" class="btn btn-primary">
        <input type="submit" value="Vælg udstyr" class="btn btn-primary" />
    </div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}