@using RestSharpClient
@model List<object[]>


@{
    ViewData["Title"] = "Vælg tidspunkt";
}

<h1>Vælg tidspunkt</h1>

<h4>Booking</h4>

Ledige tider på valgte dato: <b>@TempData["ChosenDate"]</b>

<form asp-action="SelectEquipment" method="post">
    <select name="selectedCourtAndTime">
        @foreach (var availableTime in Model)
        {
            <option value="@availableTime[0]_@availableTime[1]">Bane @availableTime[0], Klokken @(((DateTime)availableTime[1]).ToShortTimeString())</option>
        }
    </select>

    <div class="form-group">
        <input type="button" value="Gå tilbage" onclick="history.back(-1); return false;" class="btn btn-primary">
        <input type="submit" value="Vælg udstyr" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-controller="Home" asp-action="Index">Gå tilbage til startside</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}