@using RestSharpClient
@model List<object[]>


@{
    ViewData["Title"] = "Vælg tidspunkt";
}

<h1 class="title">Vælg tidspunkt</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        Ledige tider på valgte dato: <b>@TempData["ChosenDate"]</b>
        <form asp-action="SelectEquipment" method="post">
            <select name="selectedCourtAndTime">
                @foreach (var availableTime in Model)
                {
                    <option value="@availableTime[0]_@availableTime[1]">Bane @availableTime[0], Klokken @(((DateTime)availableTime[1]).ToShortTimeString())</option>
                }
            </select>

            <div class="form-group">
                <input type="button" value="Gå tilbage" onclick="history.back(-1); return false;" class="btn btn-danger">
                <input type="submit" value="Vælg udstyr" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}