@model DateTime

@{
    ViewData["Title"] = "Vælg dato";
}

<h1 class="title">Vælg dato</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SelectHour" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">Dato</label>
                <input name="selectedDate" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
            </div>

            <div class="form-group" id="button">
                <a asp-controller="Home" asp-action="Index" class="btn btn-danger">Gå tilbage</a>
                <input type="submit" value="Se ledige tider" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}