@using System.Security.Claims
@model Model.Reservation

@{
    ViewData["Title"] = "Create";
}

<h1>Skal du have udstyr med?</h1>

<h4>Booking</h4>


<form action="ShowReservation" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="customer.firstName" class="control-label">Fornavn</label>
        <input asp-for="customer.firstName" />
        <span asp-validation-for="customer.firstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="customer.lastName" class="control-label">Efternavn</label>
        <input asp-for="customer.lastName" />
        <span asp-validation-for="customer.lastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="customer.phoneNo" class="control-label">Telefon Nummer</label>
        <input asp-for="customer.phoneNo" />
        <span asp-validation-for="customer.phoneNo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="customer.email" class="control-label">Email</label>
        <input asp-for="customer.email" value="@(Context.User.Claims.FirstOrDefault((claim)=> claim.Type == ClaimTypes.Email)?.Value)"/>
        <span asp-validation-for="customer.email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="shuttleReserved" class="control-label">Fjerbolde</label>
        <input asp-for="shuttleReserved" type="checkbox" />
        <span asp-validation-for="shuttleReserved" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="numberOfRackets" class="control-label">Antal ketsjere</label>
        <input asp-for="numberOfRackets" />
    </div>

    <div class="form-group">
        <input type="button" value="Gå tilbage" onclick="history.back(-1); return false;" class="btn btn-primary">
        <input type="submit" value="Gennemfør booking" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}