@model DateTime

@{
    ViewData["Title"] = "Vælg dato";
}

<h1>Vælg dato</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SelectHour" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">Dato</label>
                <input name="selectedDate" type="date" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Se ledige tider" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}